@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=CC+Wild+Roman+Words:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}



